<%- include('includes/head',{pagetitle:'an error occured!!'}) %> 
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>

<body>
    <%- include('includes/header') %> 
    <main>
        <h1>sorry something went wrongs</h1>
        <p><a class = "btn" href="/">back to saftey!</a>
        </p>
    </main>
    

<%- include('includes/footer') %> 