<%- include('../../shared/includes/head', { pageTitle: 'Failed!' }) %>

</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Payment failed!!</h1>
    <p>Please contact the admin for more details</p>
  </main>
<%- include('../../shared/includes/footer') %>