<%- include('../../shared/includes/head', { pageTitle: 'congoo!!' }) %>

</head>
<style>
  .container{
    text-align: center;
    margin-top: 18%;
  }
</style>
<body>
  <%- include('../../shared/includes/header') %>
  <div class="container">
    <main>
      <h1>Payment Successfull!!!</h1>
      <p>You can visit   <a class="btn" href="/orders">orders</a>   for more details</p>
    </main>
  </div>
  
<%- include('../../shared/includes/footer') %>