


h1
{
    text-align: center;
    color: var(--color-blue-50);

}
form
{
    max-width: 28rem;
    margin: var(--space-8) auto;
    padding: var(--sapce-4);
    background-color: var(--color-blue-700);
    border-radius: var(--border-radius-medium);
  
    text-align: center;
    box-shadow: 10px 10px 8px  black ;

}
form a
{
    color: var(--color-primary-200);

}
form a:hover,
form a:active
{
    color:var(--color-primary-400);
}