<%- include('../../shared/includes/head', { pageTitle: 'All Products' }) %>
<link rel="stylesheet" href="/styles/products.css">
<link rel="stylesheet" href="/styles/footer.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>All Products</h1>
    <ul id="products-grid">
      <% for (const product of products) { %>
        <li>
          <%- include('../../shared/includes/product-item', { product: product }) %>
        </li>
      <% } %>
    </ul>
    <% if (locals.isAuth) { %> 
    <p id="suggestion">Looking for something else? Request another plant <a class="btn" href="mailto:admin@gmail.com?subject=requesting new plant">Here</a></p>
    <% } else { %> 
        <p id="suggestion">Looking for something else? Login to request another plant <a class="btn" href="/login">Login</a></p>
        <% } %> 
  </main>
  <footer> 
        
    <div class = "footer_info">
        <div class="footer_width about">
            <h2>About</h2>
            <p>
                Why search for plants u require.....
                here we give u the best option of those plants who need u...
                this is who are we..hasiru!!!!!
            </p>
            <div class="social_media">
                <ul>
                    <li><a href="https://github.com/harshavenka"><ion-icon name="logo-github"></ion-icon></a></li>
                    <li><a href="https://www.instagram.com/accounts/login/"><ion-icon name="logo-instagram"></ion-icon></a></li>
                    <li><a href="https://nie.ac.in/department/cse-department/"><ion-icon name="logo-facebook"></ion-icon></a></li>
                    <li><a href="https://www.linkedin.com/in/harshith-v-b960b4225/"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                </ul>
            </div>
        </div>
        <div class="footer_width link">
            <h2>Quick Link</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/">Products</a</li>
                <li><a href="https://www.google.co.in/maps/place/The+National+Institute+of+Engineering/@12.28436,76.6406068,16z/data=!4m5!3m4!1s0x3baf65561e102919:0xf947b18cc5ad3d88!8m2!3d12.2840288!4d76.6411467?hl=en&authuser=0">Find us</a></li>
                <li><a href="mailto:4ni19cs049_b@nie.ac.in">Contact</a></li>
            </ul>
        </div>
        <div class="footer_width contact">
            <h2>Contact</h2>
            <ul>
                <li>
                    <span><ion-icon name="navigate"></ion-icon></span>
                    <p>
                        A101 nie mens hostel,ashokapuram,mysore-570008
                    </p>
                </li>

                <li>
                    <span><ion-icon name="mail"></ion-icon></span>
                    <a href="#">4ni19cs000_b@nie.ac.in</a>
                </li>    

                <li>
                    <span><ion-icon name="call"></ion-icon></span>
                    <a href="#">+91 7829952512</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copy-right">
        <p>© COPYRIGHT 2022  Harsha_Suraj  ALL RIGHTS RESERVED.</p>
    </div>

</footer>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</body>
</html>