<%- include('../includes/head',{pagetitle:'signup'}) %> 
</head>

<body>
    <%- include('../includes/header') %> 
    <main>
        <h1>Create new account</h1>
        <form action="" method="">
            

        </form>
    </main>
    

<%- include('../includes/footer') %> 